:root {
  /* Color Tokens */
  --pink-main: hsl(337deg, 100%, 43%);
  --pink-main-hex: #db0054;
  --blue-main: hsl(185deg, 100%, 49%);
  --blue-main-hex: #00e5fa;
  --yellow-main: hsl(37deg, 100%, 61%);
  --yellow-main-hex: #ffb338;
  --black-main: hsl(30deg, 11%, 4%);

  /* Font Tokens */
  --font-body: "Josefin Sans", sans-serif;
  --font-highlight: "Bungee Shade", sans-serif;
}
